@font-face {
  font-family: 'Didot';
  src: url("/fonts/didot3/GFSDidot-Regular.ttf") format("truetype"); }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

#header {
  height: 95px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #ffffff;
  position: relative; }
  @media screen and (max-width: 480px) {
    #header {
      position: relative;
      height: auto; } }
  #header .logo {
    float: left;
    width: 204px;
    height: 74px;
    margin-right: 20px; }
    @media screen and (max-width: 480px) {
      #header .logo {
        width: 100px;
        margin-right: 0px;
        height: auto; }
        #header .logo img {
          width: 100%;
          height: auto; } }
    #header .logo a {
      display: block;
      margin-top: 10px; }
      @media screen and (max-width: 480px) {
        #header .logo a {
          margin-top: 5px;
          margin-bottom: 5px; } }
  #header .menu {
    float: left;
    margin-top: 30px; }
    @media screen and (max-width: 480px) {
      #header .menu {
        display: none;
        margin-bottom: 20px;
        text-align: center;
        float: none;
        width: 100%;
        height: 100%;
        position: fixed;
        margin-top: 0;
        left: 0;
        z-index: 1;
        top: 55px;
        background-color: #8ca3b8;
        padding-top: 65px; }
        #header .menu.mobile-active {
          display: block; } }
    #header .menu ul {
      margin: 0;
      padding: 0; }
      #header .menu ul li {
        display: inline-block;
        list-style: none;
        margin-left: 30px; }
        #header .menu ul li a {
          padding: 0 10px;
          color: rgba(0, 0, 0, 0.65);
          font-size: 18px;
          font-family: Didot;
          font-weight: bold; }
          @media screen and (max-width: 480px) {
            #header .menu ul li a {
              font-size: 16px;
              padding: 0 7px; } }
          #header .menu ul li a:hover {
            text-decoration: none; }
        #header .menu ul li.active {
          border-bottom: 1px solid rgba(0, 0, 0, 0.65); }
          #header .menu ul li.active a {
            font-size: 21px; }
            @media screen and (max-width: 480px) {
              #header .menu ul li.active a {
                font-size: 19px; } }
        @media screen and (max-width: 480px) {
          #header .menu ul li {
            margin-left: 0px;
            display: block;
            text-align: center;
            border-bottom: 0 !important;
            padding-bottom: 10px; }
            #header .menu ul li#menu-item-kontakt, #header .menu ul li#menu-item-sluzby {
              display: none; }
            #header .menu ul li a {
              color: #FFF;
              font-size: 22px !important; } }
  #header .phone {
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 90px; }
    @media screen and (max-width: 480px) {
      #header .phone {
        position: absolute;
        left: 120px;
        top: 15px;
        margin-top: 0;
        margin-left: 0; } }
    #header .phone a {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.65);
      font-family: Didot;
      font-size: 21px;
      padding-left: 30px; }
      @media screen and (max-width: 480px) {
        #header .phone a {
          padding-left: 0px;
          font-size: 16px; } }
      #header .phone a:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 36px;
        background: url("/images/header-phone.png"); }
        @media screen and (max-width: 480px) {
          #header .phone a:before {
            display: none; } }
  #header .button {
    float: right;
    margin-top: 20px; }
    @media screen and (max-width: 480px) {
      #header .button {
        position: absolute;
        top: 12px;
        right: 10px;
        margin-top: 0; } }
    #header .button button {
      display: block;
      border: 0;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(138, 161, 182, 0.84);
      background-color: rgba(116, 144, 170, 0.81);
      color: #FFF;
      font-size: 16px;
      font-weight: bold;
      padding: 13px 69px;
      outline: none; }
      @media screen and (max-width: 480px) {
        #header .button button {
          padding: 5px 0;
          width: 100%;
          font-size: 12px;
          padding: 5px 10px; } }
  #header .hamburger {
    display: none;
    position: absolute;
    right: 10px;
    bottom: -55px;
    z-index: 2;
    background: #f8f8f8;
    border-radius: 3px;
    padding: 10px; }
    @media screen and (max-width: 480px) {
      #header .hamburger {
        display: block; } }
    #header .hamburger:hover {
      opacity: 1; }
    #header .hamburger:focus {
      outline: none; }
    #header .hamburger .hamburger-box {
      width: 25px;
      height: 20px; }
      #header .hamburger .hamburger-box .hamburger-inner {
        background: #979797;
        width: 25px;
        height: 2px;
        top: 10px; }
        #header .hamburger .hamburger-box .hamburger-inner:before {
          background: #979797;
          width: 25px;
          height: 2px;
          top: -7px; }
        #header .hamburger .hamburger-box .hamburger-inner:after {
          background: #979797;
          width: 25px;
          height: 2px;
          bottom: -7px;
          top: auto; }
    #header .hamburger.is-active .hamburger-box .hamburger-inner {
      top: 2px; }
      #header .hamburger.is-active .hamburger-box .hamburger-inner:after {
        top: 20px; }

#footer {
  padding: 100px 0;
  background-color: #f8f8f8;
  font-size: 20px;
  font-family: Didot;
  color: rgba(6, 6, 6, 0.65);
  text-align: center; }
  @media screen and (max-width: 480px) {
    #footer {
      padding: 40px 0;
      font-size: 16px;
      display: none; } }
  @media screen and (max-width: 480px) {
    #footer .col-6 {
      padding-bottom: 40px; } }
  #footer .title {
    font-weight: bold; }
  #footer a {
    color: rgba(0, 0, 0, 0.65); }

.scroll-up {
  display: none;
  background: #CCC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #1a1a1a;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .scroll-up:hover {
    cursor: pointer; }

#phone-modal-bck {
  display: none;
  position: fixed;
  z-index: 4;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

#phone-modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 100px;
  width: 360px;
  padding: 40px;
  left: 50%;
  margin-left: -180px;
  background-color: #f8f8f8;
  border: 1px solid #bcb5b9; }
  #phone-modal input {
    background-color: #f8f8f8;
    border: 0;
    border-bottom: solid 1px #979797;
    width: 100%;
    margin-bottom: 10px; }
    #phone-modal input::placeholder {
      font-family: Times-Roman;
      font-size: 14px;
      color: #888888; }
    #phone-modal input:focus {
      outline: none; }
    #phone-modal input.phone {
      margin-bottom: 40px; }
      #phone-modal input.phone.error {
        border-bottom: solid 1px #911015; }
  #phone-modal .text {
    font-family: Times-Roman;
    font-size: 21px;
    color: #5a7a98; }
    #phone-modal .text .title {
      font-weight: bold; }
  #phone-modal button {
    font-family: Times-Roman;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    width: 49%;
    padding: 7px 0px; }
    #phone-modal button.send {
      background-color: #8ba2b7;
      color: #FFF; }
    #phone-modal button.close-modal {
      color: #666;
      border: solid 1px #979797; }

.home-page .banner {
  text-align: center; }
  .home-page .banner img {
    display: inline-block;
    width: 100%;
    height: auto; }

.home-page .content {
  background-image: url(/images/lines.png), url(/images/teeth.png);
  background-position: 17% top, right 200px;
  background-repeat: no-repeat, no-repeat; }
  @media screen and (max-width: 480px) {
    .home-page .content {
      background: none; } }
  .home-page .content .container {
    padding-bottom: 200px; }
    @media screen and (max-width: 480px) {
      .home-page .content .container {
        padding-bottom: 20px; } }
  .home-page .content .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 100px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .home-page .content .h1-wrapper {
        padding: 20px 0;
        padding-bottom: 30px; } }
    .home-page .content .h1-wrapper h1 {
      display: inline;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px; }
      @media screen and (max-width: 480px) {
        .home-page .content .h1-wrapper h1 {
          font-size: 22px;
          padding-bottom: 7px; } }
  .home-page .content .photo {
    text-align: right; }
    .home-page .content .photo img {
      display: inline-block;
      border-radius: 20px;
      width: 467px;
      height: auto; }
      @media screen and (max-width: 480px) {
        .home-page .content .photo img {
          width: 100%; } }
  .home-page .content .text {
    padding-top: 50px;
    font-size: 20px;
    line-height: 24px;
    font-family: Didot;
    color: rgba(2, 2, 2, 0.65);
    padding-left: 50px; }
    @media screen and (max-width: 480px) {
      .home-page .content .text {
        padding-top: 10px;
        font-size: 14px;
        padding-left: 0px; } }
    .home-page .content .text p {
      width: 70%;
      margin-bottom: 30px; }
      .home-page .content .text p.mobile-show {
        display: none; }
      @media screen and (max-width: 480px) {
        .home-page .content .text p {
          width: 100%;
          display: none; }
          .home-page .content .text p.mobile-show {
            display: block;
            margin-bottom: 10px;
            line-height: 14px; } }

.home-page .kontakt {
  display: none;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .home-page .kontakt {
      display: block; } }
  .home-page .kontakt .h1 {
    font-family: Didot;
    font-size: 20px;
    text-align: center;
    color: #d7a550;
    text-transform: uppercase;
    padding-bottom: 22px; }
    .home-page .kontakt .h1 span {
      padding-bottom: 5px;
      border-bottom: solid 1px #979797; }
  .home-page .kontakt .title {
    font-family: Times;
    font-size: 16px;
    font-weight: bold;
    color: #d7a550; }
    .home-page .kontakt .title.main {
      padding-bottom: 10px; }
    .home-page .kontakt .title.tel {
      padding-bottom: 10px; }
    .home-page .kontakt .title.address {
      padding-bottom: 10px; }
  .home-page .kontakt p {
    font-family: Times-Roman;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65); }
    .home-page .kontakt p.p1 {
      padding-bottom: 10px; }
    .home-page .kontakt p.p2 {
      box-shadow: 0 2px 15px 0 rgba(101, 101, 101, 0.1);
      border: solid 1px #ffffff;
      background-color: #ffffff;
      padding: 10px 15px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
      line-height: 1.2;
      font-size: 14px; }
    .home-page .kontakt p.p3 {
      font-size: 16px; }
    .home-page .kontakt p.ico {
      font-size: 16px; }
  .home-page .kontakt .socials {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center; }
    .home-page .kontakt .socials a {
      display: inline-block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      .home-page .kontakt .socials a.fb {
        background-image: url(/images/kontakt/facebook.png);
        margin-right: 25px; }
      .home-page .kontakt .socials a.ig {
        background-image: url(/images/kontakt/instagram.png);
        margin-left: 25px; }

.home-page #map {
  display: none;
  height: 400px; }
  @media screen and (max-width: 480px) {
    .home-page #map {
      display: block; } }

.sluzby-page {
  background: url("/images/slugbu/bg.png") right 0px no-repeat;
  background-size: cover; }
  .sluzby-page .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .sluzby-page .h1-wrapper {
        padding: 20px 0;
        padding-bottom: 40px; } }
    .sluzby-page .h1-wrapper h1 {
      display: inline;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px; }
      @media screen and (max-width: 480px) {
        .sluzby-page .h1-wrapper h1 {
          line-height: 70px; } }
  .sluzby-page .top {
    text-align: center; }
    .sluzby-page .top p {
      text-align: center;
      font-family: Times-Roman;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.65);
      width: 42%;
      display: inline-block; }
      @media screen and (max-width: 480px) {
        .sluzby-page .top p {
          width: 90%; } }
  .sluzby-page .sluzby {
    padding-bottom: 100px; }
    .sluzby-page .sluzby .item {
      padding-left: 120px;
      padding-right: 150px;
      padding-bottom: 100px;
      padding-top: 100px; }
      @media screen and (max-width: 480px) {
        .sluzby-page .sluzby .item {
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 40px; } }
      .sluzby-page .sluzby .item .align-center {
        text-align: center; }
      .sluzby-page .sluzby .item .icon-wrapper {
        display: inline-block; }
      .sluzby-page .sluzby .item.pink .title {
        color: #f2a2b1; }
      .sluzby-page .sluzby .item.pink .icon {
        background-color: #f2a2b1; }
      .sluzby-page .sluzby .item.pink ul li:before {
        background-color: #f2a2b1; }
      .sluzby-page .sluzby .item.blue .title {
        color: #7490aa; }
      .sluzby-page .sluzby .item.blue .icon {
        background-color: #7490aa; }
      .sluzby-page .sluzby .item.blue ul li:before {
        background-color: #7490aa; }
      .sluzby-page .sluzby .item.yellow .title {
        color: #bf9b6e; }
      .sluzby-page .sluzby .item.yellow .icon {
        background-color: #f2d4ae; }
      .sluzby-page .sluzby .item.yellow ul li:before {
        background-color: #f2d4ae; }
      .sluzby-page .sluzby .item.green .title {
        color: #94b098; }
      .sluzby-page .sluzby .item.green .icon {
        background-color: #94b098; }
      .sluzby-page .sluzby .item.green ul li:before {
        background-color: #94b098; }
      .sluzby-page .sluzby .item .icon {
        border-radius: 40px;
        width: 132px;
        height: 146px;
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .sluzby-page .sluzby .item .icon img {
          display: inline-block; }
      .sluzby-page .sluzby .item .title {
        font-family: Didot;
        font-size: 36px;
        padding-left: 50px;
        margin-top: 30px;
        margin-bottom: 10px; }
      .sluzby-page .sluzby .item ul {
        padding: 0;
        list-style: none; }
        .sluzby-page .sluzby .item ul li {
          position: relative;
          font-family: Times-Roman;
          font-size: 28px;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.65);
          padding-left: 50px; }
          .sluzby-page .sluzby .item ul li:before {
            position: absolute;
            content: "";
            top: 13px;
            left: 0;
            display: block;
            width: 19px;
            height: 19px;
            border-radius: 50%; }

.cennik-page {
  background: #fff; }
  .cennik-page .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .cennik-page .h1-wrapper {
        padding: 55px 0;
        padding-bottom: 30px; } }
    .cennik-page .h1-wrapper h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px; }
      @media screen and (max-width: 480px) {
        .cennik-page .h1-wrapper h1 {
          line-height: 33px; } }
  .cennik-page .services-icons {
    text-align: center;
    padding-bottom: 70px; }
    @media screen and (max-width: 480px) {
      .cennik-page .services-icons {
        padding-bottom: 20px; } }
    .cennik-page .services-icons .item {
      display: inline-block;
      padding: 0 10px;
      text-align: center;
      width: 14%;
      float: left; }
      .cennik-page .services-icons .item:hover .icon {
        border: solid 2px #adadad; }
      .cennik-page .services-icons .item:hover .title {
        font-weight: bold; }
      .cennik-page .services-icons .item .align-center {
        text-align: center; }
      .cennik-page .services-icons .item .icon-wrapper {
        display: inline-block; }
      .cennik-page .services-icons .item a {
        display: block;
        position: relative;
        padding-bottom: 70px; }
      .cennik-page .services-icons .item .icon {
        background: #f8fbf8;
        border-radius: 50%;
        width: 151px;
        height: 142px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        border: solid 2px transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
        .cennik-page .services-icons .item .icon img {
          display: inline-block; }
      .cennik-page .services-icons .item .title {
        margin-top: 50px;
        font-family: Didot;
        font-size: 21px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.65);
        line-height: 28px; }
      @media screen and (max-width: 480px) {
        .cennik-page .services-icons .item {
          vertical-align: top;
          width: 49%;
          float: none; }
          .cennik-page .services-icons .item .icon {
            width: 100px;
            height: 100px; }
          .cennik-page .services-icons .item .title {
            margin-top: 10px;
            font-size: 16px;
            line-height: 20px; }
          .cennik-page .services-icons .item a {
            padding-bottom: 20px; } }
  .cennik-page .tables {
    padding-bottom: 40px; }
    .cennik-page .tables .pl-20 {
      padding-left: 20px; }
    .cennik-page .tables .pr-20 {
      padding-right: 20px; }
    .cennik-page .tables .table {
      margin-bottom: 40px; }
      @media screen and (max-width: 480px) {
        .cennik-page .tables .table {
          margin-bottom: 15px; } }
      .cennik-page .tables .table .inner {
        padding: 35px;
        background-color: rgba(242, 162, 177, 0.1); }
        @media screen and (max-width: 480px) {
          .cennik-page .tables .table .inner {
            padding: 15px; } }
      .cennik-page .tables .table .title {
        font-family: Times;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
        border-bottom: solid 3px #c19a5a;
        padding-bottom: 10px; }
        @media screen and (max-width: 480px) {
          .cennik-page .tables .table .title {
            line-height: 1.2; } }
      .cennik-page .tables .table .values .value {
        border-bottom: solid 2px #c19a5a; }
        .cennik-page .tables .table .values .value .name {
          height: 40px;
          float: left;
          width: calc(100% - 60px);
          border-right: solid 3px #c19a5a;
          font-family: Times-Roman;
          font-size: 18px;
          line-height: 40px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.65); }
          @media screen and (max-width: 480px) {
            .cennik-page .tables .table .values .value .name {
              min-height: 40px;
              height: auto;
              line-height: 18px;
              font-size: 16px;
              display: flex;
              justify-content: left;
              /* align horizontal */
              align-items: center; } }
        .cennik-page .tables .table .values .value .price {
          height: 40px;
          float: right;
          width: 60px;
          padding-left: 0px;
          text-align: center;
          line-height: 40px;
          font-family: Times;
          font-size: 18px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.65); }
          @media screen and (max-width: 480px) {
            .cennik-page .tables .table .values .value .price {
              font-size: 16px; } }

.kontakt-page {
  background: url("/images/kontakt/bg.png") left 300px no-repeat #fff;
  padding-bottom: 100px; }
  .kontakt-page .h1-wrapper {
    padding: 80px 0;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .kontakt-page .h1-wrapper {
        padding: 20px 0;
        padding-bottom: 40px; } }
    .kontakt-page .h1-wrapper h1 {
      display: inline;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      text-transform: uppercase;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px; }
      @media screen and (max-width: 480px) {
        .kontakt-page .h1-wrapper h1 {
          line-height: 70px; } }
  .kontakt-page .full-width-wrapper .info {
    width: 50%;
    float: left;
    padding-right: 50px;
    padding-top: 50px; }
    .kontakt-page .full-width-wrapper .info .inner {
      width: 50%;
      float: right;
      text-align: center; }
      .kontakt-page .full-width-wrapper .info .inner .title {
        font-family: Times;
        font-size: 25px;
        font-weight: bold;
        color: #d7a550; }
        .kontakt-page .full-width-wrapper .info .inner .title.main {
          padding-bottom: 30px; }
        .kontakt-page .full-width-wrapper .info .inner .title.tel {
          padding-bottom: 10px; }
        .kontakt-page .full-width-wrapper .info .inner .title.address {
          padding-bottom: 20px; }
      .kontakt-page .full-width-wrapper .info .inner p {
        font-family: Times-Roman;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.65); }
        .kontakt-page .full-width-wrapper .info .inner p.p1 {
          padding-bottom: 30px; }
        .kontakt-page .full-width-wrapper .info .inner p.p2 {
          box-shadow: 0 2px 15px 0 rgba(101, 101, 101, 0.1);
          border: solid 1px #ffffff;
          background-color: #ffffff;
          padding: 30px 22px;
          margin-bottom: 30px; }
        .kontakt-page .full-width-wrapper .info .inner p.p3 {
          font-size: 18px; }
        .kontakt-page .full-width-wrapper .info .inner p.ico {
          font-size: 18px; }
      .kontakt-page .full-width-wrapper .info .inner .socials {
        padding-top: 60px;
        text-aling: center; }
        .kontakt-page .full-width-wrapper .info .inner .socials a {
          display: inline-block;
          border-radius: 40px;
          width: 98px;
          height: 94px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
          .kontakt-page .full-width-wrapper .info .inner .socials a.fb {
            background-image: url(/images/kontakt/facebook.png);
            margin-right: 45px; }
          .kontakt-page .full-width-wrapper .info .inner .socials a.ig {
            background-image: url(/images/kontakt/instagram.png);
            margin-left: 45px; }
  .kontakt-page .full-width-wrapper #map {
    float: right;
    width: 50%;
    height: 800px; }

.blog-page {
  background: #fff; }
  .blog-page .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center; }
    .blog-page .h1-wrapper h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px;
      text-transform: uppercase; }
      @media screen and (max-width: 480px) {
        .blog-page .h1-wrapper h1 {
          line-height: 70px; } }
  .blog-page .posts {
    padding-top: 100px;
    padding-bottom: 50px; }
    .blog-page .posts .post {
      position: relative;
      margin-bottom: 100px;
      display: block; }
      .blog-page .posts .post:hover {
        text-decoration: none; }
        .blog-page .posts .post:hover h2 {
          text-decoration: underline; }
      .blog-page .posts .post:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 35%;
        height: 100%;
        background: rgba(198, 213, 201, 0.53); }
      .blog-page .posts .post:nth-child(2n):before {
        background: rgba(225, 210, 215, 0.53); }
      .blog-page .posts .post .image-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1;
        position: relative; }
      .blog-page .posts .post .text h2 {
        position: relative;
        font-family: Didot;
        font-weight: bold;
        font-size: 33px;
        color: rgba(26, 26, 26, 0.7);
        padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 0; }
        .blog-page .posts .post .text h2:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          height: 2px;
          width: 30%;
          background: #99b39d;
          opacity: 55%; }
      .blog-page .posts .post .text p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 21px;
        margin-top: 20px; }

.blog-item-page {
  background: #fff; }
  .blog-item-page .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center; }
    .blog-item-page .h1-wrapper h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      border-bottom: solid 1px #979797;
      padding-bottom: 12px;
      text-transform: uppercase; }
      @media screen and (max-width: 480px) {
        .blog-item-page .h1-wrapper h1 {
          line-height: 70px; } }
  .blog-item-page .main-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  .blog-item-page .text {
    padding-bottom: 50px; }

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px; } }

@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden; } }
