@import "fonts";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

@import "header";
@import "footer";

@import "phone-modal";
@import "home";
@import "sluzby";
@import "cennik";
@import "kontakt";

@import "blog";
@import "blog-page";

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }
}

@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
}
