.blog-page {
  background: #fff;
  .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center;

    @media screen and (max-width: 480px) {
    }
    h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;

      border-bottom: solid 1px #979797;
      padding-bottom: 12px;

      text-transform: uppercase;

      @media screen and (max-width: 480px) {
        line-height: 70px;
      }
    }
  }

  .posts {
    padding-top: 100px;
    padding-bottom: 50px;
    .post {
      position: relative;
      margin-bottom: 100px;
      display: block;
      &:hover {
        text-decoration: none;

        h2 {
          text-decoration: underline;
        }
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 35%;
        height: 100%;
        background: rgba(198, 213, 201, 0.53);
      }

      &:nth-child(2n) {
        &:before {
          background: rgba(225, 210, 215, 0.53);
        }
      }

      .image-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1;
        position: relative;
      }

      .text {
        h2 {
          position: relative;
          font-family: Didot;
          font-weight: bold;
          font-size: 33px;
          color: rgba(26, 26, 26, 0.7);
          padding-top: 50px;
          padding-bottom: 20px;
          margin-bottom: 0;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;

            height: 2px;
            width: 30%;
            background: #99b39d;
            opacity: 55%;
          }
        }

        p {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.65);
          line-height: 21px;
          margin-top: 20px;
        }
      }
    }
  }
}
