.blog-item-page {
  background: #fff;
  .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center;

    @media screen and (max-width: 480px) {
    }
    h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;

      border-bottom: solid 1px #979797;
      padding-bottom: 12px;

      text-transform: uppercase;

      @media screen and (max-width: 480px) {
        line-height: 70px;
      }
    }
  }

  .main-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .text {
    padding-bottom: 50px;
  }
}
