.cennik-page {
  background: #fff;
  .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center;

    @media screen and (max-width: 480px) {
      padding: 55px 0;
      padding-bottom: 30px;
    }
    h1 {
      display: inline-block;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;

      border-bottom: solid 1px #979797;
      padding-bottom: 12px;

      @media screen and (max-width: 480px) {
        line-height: 33px;
      }
    }
  }

  .services-icons {
    text-align: center;
    padding-bottom: 70px;
    @media screen and (max-width: 480px) {
      padding-bottom: 20px;
    }

    .item {
      display: inline-block;
      padding: 0 10px;
      text-align: center;
      width: 14%;
      float: left;
      img {
        //width: 100%; height: auto;
      }
      &:hover {
        .icon {
          border: solid 2px #adadad;
        }

        .title {
          font-weight: bold;
        }
      }
      .align-center {
        text-align: center;
      }
      .icon-wrapper {
        display: inline-block;
      }
      a {
        display: block;

        position: relative;
        padding-bottom: 70px;
      }
      .icon {
        background: #f8fbf8;
        border-radius: 50%;
        width: 151px;
        height: 142px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;

        border: solid 2px transparent;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
          display: inline-block;
        }
      }

      .title {
        margin-top: 50px;
        font-family: Didot;
        font-size: 21px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.65);
        line-height: 28px;
      }

      @media screen and (max-width: 480px) {
        vertical-align: top;
        width: 49%;
        float: none;

        .icon {
          width: 100px;
          height: 100px;
        }
        .title {
          margin-top: 10px;
          font-size: 16px;
          line-height: 20px;
        }
        a {
          padding-bottom: 20px;
        }

      }
    }
  }

  .tables {
    padding-bottom: 40px;
    .pl-20 {
      padding-left: 20px;
    }
    .pr-20 {
      padding-right: 20px;
    }
    .table {
      margin-bottom: 40px;
      @media screen and (max-width: 480px) {
        margin-bottom: 15px;
      }
      .inner {
        padding: 35px;
        background-color: rgba(242, 162, 177, 0.1);

        @media screen and (max-width: 480px) {
          padding: 15px;
        }
      }
      .title {
        font-family: Times;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
        border-bottom: solid 3px #c19a5a;
        padding-bottom: 10px;
        @media screen and (max-width: 480px) {
          line-height: 1.2;
        }
      }

      .values {
        .value {
          border-bottom: solid 2px #c19a5a;
          .name {
            height: 40px;
            float: left;
            width: calc(100% - 60px);
            border-right: solid 3px #c19a5a;

            font-family: Times-Roman;
            font-size: 18px;
            line-height: 40px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.65);

            @media screen and (max-width: 480px) {
              min-height: 40px;
              height: auto;
              line-height: 18px;
              font-size: 16px;

              display: flex;
              justify-content: left; /* align horizontal */
              align-items: center;
            }
          }
          .price {
            height: 40px;
            float: right;
            width: 60px;
            padding-left: 0px;
            text-align: center;
            line-height: 40px;

            font-family: Times;
            font-size: 18px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.65);

            @media screen and (max-width: 480px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
