//@font-face {
//  font-family: 'Didot';
//  src: url('/fonts/didot/Didot.eot');
//  src: url('/fonts/didot/Didot.eot?#iefix') format('embedded-opentype'),
//  url('/fonts/didot/Didot.woff2') format('woff2'),
//  url('/fonts/didot/Didot.woff') format('woff'),
//  url('/fonts/didot/Didot.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'Didot';
  src: url('/fonts/didot3/GFSDidot-Regular.ttf') format('truetype');
}
