#footer {
  padding: 100px 0;
  background-color: #f8f8f8;
  font-size: 20px;
  font-family: Didot;
  color: rgba(6, 6, 6, 0.65);
  text-align: center;

  @media screen and (max-width: 480px) {
    padding: 40px 0;
    font-size: 16px;

    display: none;
  }

  .col-6 {
    @media screen and (max-width: 480px) {
      padding-bottom: 40px;
    }
  }

  .title {
    font-weight: bold;
  }

  a {
    color: rgba(0, 0, 0, 0.65);
  }
}


.scroll-up {
  display: none;
  background: #CCC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #1a1a1a;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5);
  &:hover {
    cursor: pointer;
  }
}
