#header {
  height: 95px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #ffffff;
  position: relative;
  @media screen and (max-width: 480px) {
    position: relative;
    height: auto;
  }

  .logo {
    float: left;
    width: 204px;
    height: 74px;

    margin-right: 20px;

    @media screen and (max-width: 480px) {
      width: 100px;
      margin-right: 0px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      display: block;
      margin-top: 10px;

      @media screen and (max-width: 480px) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .menu {
    float: left;
    margin-top: 30px;
    @media screen and (max-width: 480px) {
      display: none;

      margin-bottom: 20px;
      text-align: center;
      float: none;
      width: 100%;
      height: 100%;
      position: fixed;
      margin-top: 0;
      left: 0;
      z-index: 1;
      top: 55px;
      background-color: #8ca3b8;
      padding-top: 65px;

      &.mobile-active {
        display: block;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        margin-left: 30px;

        a {
          padding: 0 10px;
          color: rgba(0, 0, 0, 0.65);

          font-size: 18px;
          font-family: Didot;
          font-weight: bold;
          @media screen and (max-width: 480px) {
            font-size: 16px;
            padding: 0 7px;
          }
          &:hover {
            text-decoration: none;
          }
        }

        &.active {
          border-bottom: 1px solid rgba(0, 0, 0, 0.65);
          a {
            font-size: 21px;
            @media screen and (max-width: 480px) {
              font-size: 19px;
            }
          }
        }

        @media screen and (max-width: 480px) {
          margin-left: 0px;

          &#menu-item-kontakt,
          &#menu-item-sluzby {
            display: none;
          }

          display: block;
          text-align: center;
          border-bottom: 0 !important;
          padding-bottom: 10px;
          a {
            color: #FFF;
            font-size: 22px !important;
          }
        }
      }
    }
  }

  .phone {
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 90px;

    @media screen and (max-width: 480px) {
      position: absolute;
      left: 120px;
      top: 15px;
      margin-top: 0;
      margin-left: 0;
    }

    a {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.65);
      font-family: Didot;
      font-size: 21px;
      padding-left: 30px;

      @media screen and (max-width: 480px) {
        padding-left: 0px;
        font-size: 16px;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 36px;
        background: url('/images/header-phone.png');

        @media screen and (max-width: 480px) {
          display: none;
        }
      }
    }
  }

  .button {
    float: right;
    margin-top: 20px;

    @media screen and (max-width: 480px) {
      position: absolute;
      top: 12px;
      right: 10px;
      margin-top: 0;
    }

    button {
      display: block;
      border: 0;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(138, 161, 182, 0.84);
      background-color: rgba(116, 144, 170, 0.81);
      color: #FFF;
      font-size: 16px;
      font-weight: bold;
      padding: 13px 69px;

      outline: none;

      @media screen and (max-width: 480px) {
        padding: 5px 0;
        width: 100%;

        font-size: 12px;
        padding: 5px 10px;
      }
    }
  }

  .hamburger {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }

    position: absolute;
    right: 10px;
    bottom: -55px;
    z-index: 2;

    background: #f8f8f8;
    border-radius: 3px;
    padding: 10px;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    .hamburger-box {
      width: 25px;
      height: 20px;
      .hamburger-inner {
        background: #979797;
        width: 25px;
        height: 2px;
        top: 10px;
        &:before {
          background: #979797;
          width: 25px;
          height: 2px;
          top: -7px;
        }
        &:after {
          background: #979797;
          width: 25px;
          height: 2px;
          bottom: -7px;
          top: auto;
        }
      }
    }

    &.is-active {
      .hamburger-box {
        .hamburger-inner {
          top: 2px;
          &:after {
            top: 20px;
          }
        }
      }
    }
  }
}
