.home-page {
  .banner {
    text-align: center;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  .content {
    background-image: url(/images/lines.png), url(/images/teeth.png);
    background-position: 17% top, right 200px;
    background-repeat: no-repeat, no-repeat;

    @media screen and (max-width: 480px) {
      background: none;
    }
    .container {
      padding-bottom: 200px;
      //border-bottom: solid 1px #979797;

      @media screen and (max-width: 480px) {
        padding-bottom: 20px;
      }
    }

    .h1-wrapper {
      padding: 80px 0;
      padding-bottom: 100px;
      text-align: center;

      @media screen and (max-width: 480px) {
        padding: 20px 0;
        padding-bottom: 30px;
      }
      h1 {
        display: inline;
        color: #bf814b;
        font-size: 33px;
        font-family: Didot;

        border-bottom: solid 1px #979797;
        padding-bottom: 12px;

        @media screen and (max-width: 480px) {
          font-size: 22px;
          padding-bottom: 7px;
        }
      }
    }
    .photo {
      text-align: right;
      img {
        display: inline-block;
        border-radius: 20px;
        width: 467px;
        height: auto;

        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }

    .text {
      padding-top: 50px;
      font-size: 20px;
      line-height: 24px;
      font-family: Didot;
      color: rgba(2, 2, 2, 0.65);
      padding-left: 50px;

      @media screen and (max-width: 480px) {
        padding-top: 10px;
        font-size: 14px;
        padding-left: 0px;
      }
      p {
        width: 70%;
        margin-bottom: 30px;

        &.mobile-show {
          display: none;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          display: none;

          &.mobile-show {
            display: block;

            margin-bottom: 10px;
            line-height: 14px;
          }
        }
      }
    }
  }

  .kontakt {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }

    text-align: center;

    .h1 {
      font-family: Didot;
      font-size: 20px;
      text-align: center;
      color: #d7a550;
      text-transform: uppercase;
      padding-bottom: 22px;

      span {
        padding-bottom: 5px;
        border-bottom: solid 1px #979797;
      }
    }

    .title {
      font-family: Times;
      font-size: 16px;
      font-weight: bold;
      color: #d7a550;

      &.main {
        padding-bottom: 10px;
      }
      &.tel {
        padding-bottom: 10px;
      }
      &.address {
        padding-bottom: 10px;
      }
    }

    p {
      font-family: Times-Roman;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.65);

      &.p1 {
        padding-bottom: 10px;
      }
      &.p2 {
        box-shadow: 0 2px 15px 0 rgba(101, 101, 101, 0.1);
        border: solid 1px #ffffff;
        background-color: #ffffff;
        padding: 10px 15px;

        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 14px;
      }
      &.p3 {
        font-size: 16px;
      }
      &.ico {
        font-size: 16px;
      }
    }

    .socials {
      padding-top: 10px;
      padding-bottom: 20px;
      text-align: center;
      a {
        display: inline-block;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.fb {
          background-image: url(/images/kontakt/facebook.png);
          margin-right: 25px;
        }
        &.ig {
          background-image: url(/images/kontakt/instagram.png);
          margin-left: 25px;
        }
      }
    }
  }

  #map {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }
    height: 400px;
  }
}
