.kontakt-page {
  background: url("/images/kontakt/bg.png") left 300px no-repeat #fff;
  padding-bottom: 100px;
  .h1-wrapper {
    padding: 80px 0;
    text-align: center;

    @media screen and (max-width: 480px) {
      padding: 20px 0;
      padding-bottom: 40px;
    }
    h1 {
      display: inline;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;
      text-transform: uppercase;

      border-bottom: solid 1px #979797;
      padding-bottom: 12px;

      @media screen and (max-width: 480px) {
        line-height: 70px;
      }
    }
  }

  .full-width-wrapper {
    .info {
      width: 50%;
      float: left;
      padding-right: 50px;
      padding-top: 50px;

      .inner {
        width: 50%;
        float: right;
        text-align: center;

        .title {
          font-family: Times;
          font-size: 25px;
          font-weight: bold;
          color: #d7a550;

          &.main {
            padding-bottom: 30px;
          }
          &.tel {
            padding-bottom: 10px;
          }
          &.address {
            padding-bottom: 20px;
          }
        }

        p {
          font-family: Times-Roman;
          font-size: 21px;
          color: rgba(0, 0, 0, 0.65);

          &.p1 {
            padding-bottom: 30px;
          }
          &.p2 {
            box-shadow: 0 2px 15px 0 rgba(101, 101, 101, 0.1);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            padding: 30px 22px;
            margin-bottom: 30px;
          }
          &.p3 {
            font-size: 18px;
          }
          &.ico {
            font-size: 18px;
          }
        }

        .socials {
          padding-top: 60px;
          text-aling: center;
          a {
            display: inline-block;
            border-radius: 40px;
            width: 98px;
            height: 94px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &.fb {
              background-image: url(/images/kontakt/facebook.png);
              margin-right: 45px;
            }
            &.ig {
              background-image: url(/images/kontakt/instagram.png);
              margin-left: 45px;
            }
          }
        }
      }
    }
    #map {
      float: right;
      width: 50%;
      height: 800px;
    }
  }
}
