#phone-modal-bck {
  display: none;

  position: fixed;
  z-index: 4;
  background: rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#phone-modal {
  display: none;

  position: fixed;
  z-index: 5;
  top: 100px;
  width: 360px;
  padding: 40px;
  left: 50%;
  margin-left: -180px;

  background-color: #f8f8f8;
  border: 1px solid #bcb5b9;

  input {
    background-color: #f8f8f8;
    border: 0;

    border-bottom: solid 1px #979797;
    width: 100%;

    &::placeholder {
      font-family: Times-Roman;
      font-size: 14px;
      color: #888888;
    }

    &:focus {
      outline: none;
    }

    margin-bottom: 10px;

    &.phone {
      margin-bottom: 40px;

      &.error {
        border-bottom: solid 1px #911015;
      }
    }
  }

  .text {
    font-family: Times-Roman;
    font-size: 21px;
    color: #5a7a98;
    .title {
      font-weight: bold;
    }
  }

  button {
    font-family: Times-Roman;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    width: 49%;
    padding: 7px 0px;

    &.send {
      background-color: #8ba2b7;
      color: #FFF;
    }

    &.close-modal {
      color: #666;
      border: solid 1px #979797;
    }
  }
}
