.sluzby-page {
  background: url("/images/slugbu/bg.png") right 0px no-repeat;
  background-size: cover;
  .h1-wrapper {
    padding: 80px 0;
    padding-bottom: 25px;
    text-align: center;

    @media screen and (max-width: 480px) {
      padding: 20px 0;
      padding-bottom: 40px;
    }
    h1 {
      display: inline;
      color: #bf814b;
      font-size: 33px;
      font-family: Didot;

      border-bottom: solid 1px #979797;
      padding-bottom: 12px;

      @media screen and (max-width: 480px) {
        line-height: 70px;
      }
    }
  }

  .top {
    text-align: center;
    p {
      text-align: center;
      font-family: Times-Roman;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.65);
      width: 42%;
      display: inline-block;

      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
  }

  .sluzby {
    //width: 50%;
    padding-bottom: 100px;
    .item {
      padding-left: 120px;
      padding-right: 150px;
      padding-bottom: 100px;
      padding-top: 100px;

      @media screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
      }
      .align-center {
        text-align: center;
      }
      .icon-wrapper {
        display: inline-block;
      }
      &.pink {
        .title {
          color: #f2a2b1;
        }
        .icon {
          background-color: #f2a2b1;
        }

        ul {
          li {
            &:before {
              background-color: #f2a2b1;
            }
          }
        }
      }
      &.blue {
        .title {
          color: #7490aa;
        }
        .icon {
          background-color: #7490aa;
        }

        ul {
          li {
            &:before {
              background-color: #7490aa;
            }
          }
        }
      }
      &.yellow {
        .title {
          color: #bf9b6e;
        }
        .icon {
          background-color: #f2d4ae;
        }

        ul {
          li {
            &:before {
              background-color: #f2d4ae;
            }
          }
        }
      }
      &.green {
        .title {
          color: #94b098;
        }
        .icon {
          background-color: #94b098;
        }

        ul {
          li {
            &:before {
              background-color: #94b098;
            }
          }
        }
      }
      .icon {
        border-radius: 40px;
        width: 132px;
        height: 146px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        img {
          display: inline-block;
        }
      }
      .title {
        font-family: Didot;
        font-size: 36px;
        //text-align: center;
        padding-left: 50px;
        margin-top: 30px;
        margin-bottom: 10px;
      }

      ul {
        padding: 0;
        list-style: none;
        li {
          position: relative;
          font-family: Times-Roman;
          font-size: 28px;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.65);
          padding-left: 50px;

          &:before {
            position: absolute;
            content: "";
            top: 13px;
            left: 0;

            display: block;
            width: 19px;
            height: 19px;

            border-radius: 50%;
          }
        }
      }
    }
  }
}
